body{

    background-image: url(image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hi{
    background-color: chartreuse;
    text-align: right;
    font-size:55px; 
    font-family:'Times New Roman', Times, serif;
    
}
.bye{
    background-color: darkorchid;
    text-align: left;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;


}