.overall >div{
    display: inline-block;
}
.one{
    height: 40vh;
    width: 40vh;
    border: solid black;
}
.two{
    height: 40vh;
    width: 40vh;
    border: solid black 
}
.three{
    height: 40vh;
    width: 40vh;
    border: solid black;
    visibility: hidden;
}
.four{
    
        height: 40vh;
        width: 40vh;
        border: solid black;
    

}