table{
    height: 50vh;
    width: 70vh;
    margin-left: 500px;
    margin-top: 200px;
}
table,th,td{
    border:solid black 2px;
    border-collapse: collapse ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th{
    background-color: brown;
}
td{
    background-color: chocolate;
}